<div class="container">
  <section class="row justify-content-center">
    <form [formGroup]="registrationForm" class="col-md-4" role="form" (ngSubmit)="onRegister(registrationForm.value)">
      <h1>Registration</h1>
      <hr><br>
      <div class="alert alert-danger" role="alert" *ngIf="responseStatus?.status==='error'">
        <strong>Oh snap!</strong> {{responseStatus.msg}}
      </div>
      <div class="form-group">
        <label for="firstName" class="control-label">Full Name</label>
        <input formControlName="name" type="text" id="firstName" placeholder="Full Name" class="form-control" autofocus>
        <p class="alert-box" *ngIf="!registrationForm.controls['name'].valid && registrationForm.controls['name'].touched">Last Name, First Name, eg.: Smith Harry</p>
      </div>
      <div class="form-group">
        <label for="email" class="control-label">Email</label>
        <input formControlName="email" type="email" id="email" placeholder="Email" class="form-control">
        <p class="alert-box" *ngIf="!registrationForm.controls['email'].valid && registrationForm.controls['email'].touched">google@gmail.com</p>
      </div>
      <div class="form-group">
        <label for="tel" class="control-label">Mobile</label>
        <input formControlName="mobile" type="tel" id="tel" placeholder="Mobile" class="form-control">
        <p class="alert-box" *ngIf="!registrationForm.controls['mobile'].valid && registrationForm.controls['mobile'].touched">10 digits</p>
      </div>
      <div class="form-group">
        <label for="password" class="control-label">Password</label>
        <input formControlName="password" type="password" id="password" placeholder="Password" class="form-control">
        <p class="alert-box" *ngIf="!registrationForm.controls['password'].valid && registrationForm.controls['password'].touched">6 characters minimum</p>
      </div>
      <div class="form-group">
        <label for="password" class="control-label">Repeat Password</label>
        <input formControlName="confirmPassword" type="password" id="password" placeholder="Repeat Password" class="form-control">
        <p class="alert-box" *ngIf="!registrationForm.controls['confirmPassword'].valid && registrationForm.controls['confirmPassword'].touched && registrationForm.controls.confirmPassword.errors?.mismatchedPasswords">Passwords dont match</p>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!registrationForm.valid">Register</button>
      </div>
    </form>
     
  </section> 
</div>
    