<footer class="bg-inverse mt-3">
    <div class="container">
      <div class="row">
        <div class="col-6 brand">
          <span class="text-white">&copy;2017 Scafeinder <span class="hidden-xs-down">Team</span></span>
        </div>
        <div class="col-6 text-right">
          <span class="social d-inline-block"><a href="https://twitter.com/lviv1256" aria-label="twitter" target="_blank" rel="noopener"><ng4-fa name="twitter" class="text-white"></ng4-fa></a></span>
          <span class="social d-inline-block"><a href="https://www.facebook.com/lviv1256/?hc_ref=ARRZ4wZgbtlOlqSB3i_RJdXs6yleLDNoyn0df1Gjva0C5Sd6rUxnZLLISUYpQJcbC5k&fref=nf&pnref=story" aria-label="facebook" target="_blank" rel="noopener"><ng4-fa name="facebook" class="text-white"></ng4-fa></a></span>
          <span class="social d-inline-block"><a href="https://www.instagram.com/lviv1256/" aria-label="instagram" target="_blank" rel="noopener"><ng4-fa name="instagram" class="text-white"></ng4-fa></a></span>
          <span class="social d-inline-block"><a href="https://www.linkedin.com/" aria-label="linkedin" target="_blank" rel="noopener"><ng4-fa name="linkedin" class="text-white"></ng4-fa></a></span>
        </div>
      </div>
    </div>
</footer>
