<header>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right collapsed" aria-controls="collapsedContent" aria-expanded="false" aria-label="Toggle navigation" data-toggle="collapse" data-target="#navbarText" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#"><img class="img-fluid rounded-circle" src="scafeinder.jpg" alt="scafeinder icon">Scafeinder</a>
      <div class="navbar-collapse collapse" [ngbCollapse]="!isCollapsed" id="collapsedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="showForm()">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Log In</a>
          </li>
        </ul>
      </div>
    </nav>
</header>
<app-registration-form *ngIf="form" (form)="showForm($event)"></app-registration-form>
