<header class="mb-3">
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right collapsed" aria-controls="collapsedContent" aria-expanded="false" aria-label="Toggle navigation"
      data-toggle="collapse" data-target="#navbarText" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
      type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
    <!-- <a class="navbar-brand" routerLink="/"><img class="img-fluid rounded-circle" src="assets/img/scafeinder.jpg" alt="scafeinder icon">Scafeinder</a> -->
    <a class="navbar-brand" routerLink="/">
      <img src="assets/img/scafeinder.jpg" width="55" height="55" class="d-inline-block align-top rounded-circle" alt="scafeinder icon">
    </a>
    <a class="navbar-brand" routerLink="/">
      Scafeinder
    </a>
    <div class="navbar-collapse collapse" [ngbCollapse]="!isCollapsed" id="collapsedContent">
      <ul class="navbar-nav ml-auto">
        <ng-template [ngIf]="!auth.isAuthenticated()">
          <li class="nav-item">
            <a class="nav-link" routerLink="/register">Sign Up</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" routerLink="/login">Log In</a>
          </li>
        </ng-template>
        <ng-template [ngIf]="auth.isAuthenticated()">
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="auth.logout()">Sign Out</a>
          </li>
      </ng-template>
      </ul>
    </div>
  </nav>
</header>
