<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h1 class="text-center">{{ restaurant?.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-6">
      <img src="{{ restaurant?.img }}" alt="restaurant photo" class="img-fluid">
      <ngb-tabset>
        <ngb-tab title="Features">
          <ng-template ngbTabContent>
            <ul>
              <li *ngFor="let item of restaurant?.features">{{item}}</li>
            </ul>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Cuisines">
          <ng-template ngbTabContent>
            <ul>
              <li *ngFor="let item of restaurant?.cuisines">{{item}}</li>
            </ul>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Categories">
          <ng-template ngbTabContent>
            <ul>
              <li *ngFor="let item of restaurant?.categories">{{item}}</li>
            </ul>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
    <div class="col-xs-6 col-md-6">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <h4>Booking form</h4>
          <form>
            <div class="form-group">
              <label for="tablesCount">Book for</label>
              <input type="number" class="form-control" required placeholder="Book for N" id="tablesCount">
            </div> 
            <div class="form-group"> 
              <label for="tablesCount">Booked by</label>
              <input type="tel" class="form-control" required  placeholder="+380-XXX-XXX-XXX">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
      <div class="row">
          <div class="col-xs-12 col-md-12">
              Map goes hear
            <div id="map" class="map"></div>
              
          </div>
      </div>
    </div>
  </div>
</div>