<div class="container">
  <hr>
  <div class="row">
    <div [ngClass]="(auth.isAuthenticated())?'col-xs-12 col-md-11':'col-xs-12 col-md-12'">
      <h1 class="text-center">{{ restaurant?.name }}</h1>
    </div>
      <div class="col-xs-12 col-md-1 text-center">
      <img class="img-fluid" src="../../../assets/img/star-favorite-black.svg" *ngIf="auth.isAuthenticated() && !showAddToFavorites" (click)="addToFavorites()">
      <img class="img-fluid" src="../../../assets/img/star-favorite-yellow.svg" *ngIf="auth.isAuthenticated() && showAddToFavorites" (click)="removeFromFavorites()">
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <img src="{{ restaurant?.profileImg }}" alt="restaurant photo" class="img-fluid">
      <ngb-tabset>
        <ngb-tab title="Features">
          <ng-template ngbTabContent>
            <span class="badge badge-pill badge-primary" *ngFor="let item of restaurant?.features">{{ item }}</span>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Cuisines">
          <ng-template ngbTabContent>
            <span class="badge badge-pill badge-primary" *ngFor="let item of restaurant?.cuisines">{{ item }}</span>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Categories">
          <ng-template ngbTabContent>
            <span class="badge badge-pill badge-primary" *ngFor="let item of restaurant?.categories">{{ item }}</span>            
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
    <div class="col-6 col-sm-12 col-md-6 col-lg-6">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <h5>Booking form</h5>
          <app-booking></app-booking>
        </div>
      </div>
      <hr>
      <div class="row">
          <div class="col-xs-12 col-md-12">
              <h5> Restaurant address:  {{restaurant?.address}}</h5>
              <aol-map [width]="undefined" [height]="undefined">
                <aol-view [zoom]="18">
                    <aol-coordinate [x]="restaurant?.location.lng" [y]="restaurant?.location.lat" [srid]="'EPSG:4326'"></aol-coordinate>
                  </aol-view>
                <aol-layer-tile>
                    <aol-source-osm></aol-source-osm>
                </aol-layer-tile>
                <aol-interaction-default></aol-interaction-default>
                <aol-layer-vector>
                  <aol-source-vector>
                    <aol-feature>
                      <aol-geometry-point>
                        <aol-coordinate [x]="restaurant?.location.lng" [y]="restaurant?.location.lat" [srid]="'EPSG:4326'"></aol-coordinate>
                      </aol-geometry-point>
                      <aol-style>
                        <aol-style-icon
                          [src]="'assets/img/marker.svg'"
                          [anchor]="[0.5, 1]"
                          [anchorXUnits]="'fraction'" [anchorYUnits]="'fraction'"
                          [scale]="1.7"
                          [anchorOrigin]="'top-left'">
                        </aol-style-icon>
                      </aol-style>
                    </aol-feature>
                  </aol-source-vector>
                </aol-layer-vector>
            </aol-map>
          </div>
      </div>
    </div>
  </div>
</div>
