.pagination /deep/{
    margin: 10px;
    color: #0275D8;
    position: absolute;
    bottom: 0;
    left: 0;
    .ngx-pagination .current {
        color: #ffffff;
        background: #0275D8;
    }
}

#dropdownButton {
  display: block;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #636c72;
  color: #fff;
}

.row {
  margin: 0;
}

.row div {
  padding: 0;
}

.heading {
  padding: 0.5em 35px;
  border-radius: 3px;
}

.noresults {
  font-size: 1.5em;
}

.row:not(.heading) {
  padding-bottom: 80px;
}

@media screen and (min-width: 476px) {
  .pagination /deep/{
    left: 38%;
    transform: translateX(-38%);
  }
}

@media screen and (min-width: 768px) {
  .pagination /deep/{
    left: 5%;
    transform: translateX(-5%);
  }
}

@media screen and (min-width: 992px) {
  .pagination /deep/{
    left: 15%;
    transform: translateX(-15%);
  }
}

@media screen and (min-width: 1200px) {
  .pagination /deep/{
    left: 31%;
    transform: translateX(-31%);
  }
}