.pagination /deep/{
    margin-top: 10px; 
    color: #0275D8;
    bottom: 10px;
    .ngx-pagination .current {
        color: #ffffff;
        background: #0275D8;
    }
}

.row {
  margin: 0;
}

.row div {
  padding: 0;
}

.heading {
  padding: 0.5em 35px;
}