<main>  
  <form class="form search-form" #searchForm="ngForm" (ngSubmit)="bookTables()">
    <div class="input-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-gutter">
      <ng2-fa class="input-group-addon addons" name="user"></ng2-fa>
      <select class="form-control" name="persons" [(ngModel)]="userQuery.persons">
        <option class="dropdown-item" value="1">1 person</option>
        <option class="dropdown-item" *ngFor="let person of company" value={{person}}>{{person}} people</option>
      </select>
    </div>
    <div class="input-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-gutter">
      <ng2-fa class="input-group-addon addons" name="cutlery"></ng2-fa>
      <select class="form-control table-size" name="tableType" [(ngModel)]="userQuery.tableType">
        <option class="dropdown-item" value="2">2-person table</option>
        <option class="dropdown-item" value="4">4-person table</option>
      </select>
    </div>
    <app-datepicker class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-gutter" (selectedDate)="checkSelectedDate($event)"></app-datepicker>
    <div class="input-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-gutter">
      <ng2-fa class="input-group-addon addons" name="clock-o"></ng2-fa>
      <select class="form-control" name="time" [(ngModel)]="userQuery.time">
        <option class="dropdown-item" *ngFor="let time of dayHours; let i = index" [value]="i % 2 === 0 ? time+':00' : time+':30'">{{i % 2 === 0 ? time+':00' : time+':30'}}</option>
      </select>
    </div>      
    <button class="form-control col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" type="submit" *ngIf="!alert">Book</button>
    <div class="alert alert-success" role="alert" *ngIf="alert">
      <strong>Booked!</strong> Have a nice day.
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="alertMessage">
      <strong>Opps!</strong> {{alertMessage}}
    </div>
  </form>
</main>
