<div class="row" (window:resize)="onResize($event)">
  <div class="col-sm-4 col-md-12 first">
    <input id="ch1" type="checkbox" class="hidden-sm-down">
    <label for="ch1" class="d-inline-block showToggler hidden-sm-down"></label>
    <button class="btn btn-block hidden-md-up bg-inverse text-white" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample1">Category</button>
    <div class="form-group" id="collapseExample1" [ngbCollapse]="isCollapsed">
      <label class="hidden-sm-down"><ng4-fa name="tag"></ng4-fa>Category</label>
      <div *ngFor="let category of categories" class="col-6 col-sm-12 d-inline-block option">
        <label class="custom-control custom-checkbox">
          <input type="checkbox"
          class="custom-control-input"
          name="categories"
          value="{{ category }}"
          [checked]="cuisineFilter.indexOf(category) > -1"
          (change)="updateCategoryFilter(category, $event)">
          <span class="custom-control-indicator"></span><span class="custom-control-description">{{ category }}</span>
        </label>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-12 second">
    <input id="ch2" type="checkbox" class="hidden-sm-down">
    <label for="ch2" class="d-inline-block showToggler hidden-sm-down"></label>
    <button class="btn btn-block hidden-md-up bg-inverse text-white" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample2">Cuisine</button>
    <div class="form-group" id="collapseExample2" [ngbCollapse]="isCollapsed">
      <label class="hidden-sm-down"><ng4-fa name="cutlery"></ng4-fa>Cuisine</label>
      <div *ngFor="let cuisine of cuisines" class="col-6 col-sm-12 d-inline-block option">
        <label class="custom-control custom-checkbox">
          <input type="checkbox"
          class="custom-control-input"
          name="cuisines"
          value="{{ cuisine }}"
          [checked]="cuisineFilter.indexOf(cuisine) > -1"
          (change)="updateCuisineFilter(cuisine, $event)">
          <span class="custom-control-indicator"></span><span class="custom-control-description">{{ cuisine }}</span>
        </label>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-12 third">
    <input id="ch3" type="checkbox" class="hidden-sm-down">
    <label for="ch3" class="d-inline-block showToggler hidden-sm-down"></label>
    <button class="btn btn-block hidden-md-up bg-inverse text-white" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample3">Popular</button>
    <div class="form-group" id="collapseExample3" [ngbCollapse]="isCollapsed">
      <label class="hidden-sm-down"><ng4-fa name="star"></ng4-fa>Popular</label>
      <div *ngFor="let feature of features" class="col-6 col-sm-12 d-inline-block option popular">
        <label class="custom-control custom-checkbox">
          <input type="checkbox"
          class="custom-control-input"
          name="features"
          value="{{ feature }}"
          [checked]="cuisineFilter.indexOf(feature) > -1"
          (change)="updateFeatureFilter(feature, $event)">
          <span class="custom-control-indicator"></span><span class="custom-control-description">{{ feature }}</span>
        </label>
      </div>
    </div>
  </div>
</div>
