<div class="container">
  <div class="row">
    <div class="form-group">
      <label>Category</label>
      <div *ngFor="let category of categories">
        <label class="custom-control custom-checkbox">
          <input type="checkbox"
          class="custom-control-input"
          name="categories"
          value="{{ category }}"
          [checked]="cuisineFilter.indexOf(category) > -1"
          (change)="updateCategoryFilter(category, $event)">
          <span class="custom-control-indicator"></span><span class="custom-control-description">{{ category }}</span>
        </label>
      </div>
    </div>
  </div>
  <div class="row">
  	<div class="form-group">
      <label>Cuisine</label>
      <div *ngFor="let cuisine of cuisines">
        <label class="custom-control custom-checkbox">
          <input type="checkbox"
          class="custom-control-input"
          name="cuisines"
          value="{{ cuisine }}"
          [checked]="cuisineFilter.indexOf(cuisine) > -1"
          (change)="updateCuisineFilter(cuisine, $event)">
          <span class="custom-control-indicator"></span><span class="custom-control-description">{{ cuisine }}</span>
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <label>Popular</label>
      <div *ngFor="let feature of features">
        <label class="custom-control custom-checkbox">
          <input type="checkbox"
          class="custom-control-input"
          name="features"
          value="{{ feature }}"
          [checked]="cuisineFilter.indexOf(feature) > -1"
          (change)="updateFeatureFilter(feature, $event)">
          <span class="custom-control-indicator"></span><span class="custom-control-description">{{ feature }}</span>
        </label>
      </div>
    </div>
  </div>
</div>
