.form-group > label {
  font-style: italic;
  font-weight: bold;
  color: rgb(40, 37, 49);
}

.row {
  margin: 0;
}

.row div {
  padding: 0;
}

button {
  margin: 0.1em 0;
}

@media screen and (min-width: 768px) {
  .form-group {
    max-height: 192px;
    overflow: hidden;
  }
  .first, .second, .third {
    position: relative;
    margin-bottom: 15px;
  }
  label.showToggler {
    position: absolute;
    top: calc(100% - 18px);
    font-size: 14px;
    font-style: italic;
    cursor: pointer;
    color: #009FE3;
    padding-left: 24px;
  }
  input[type=checkbox]:not(custom-control-input) {
    display: none;
  }
  label.showToggler:after {
    content: "Show More";
  }
  input[type=checkbox]:not(custom-control-input):checked + label.showToggler:after {
    content: "Show Less";
  }
  input[type=checkbox]:not(custom-control-input):checked ~ div {
    max-height: 100%;
  }
}

@media screen and (min-width: 576px) {
  .row div:not(.first) {
    padding-left: 0.1em;
  }
}

@media screen and (min-width: 420px) and (max-width: 575px) {
  .option:not(.popular) {
    width: 33% !important;
  }
}

@media screen and (max-width: 575px) {
  label.custom-control {
    padding-left: 30px;
  }
  .custom-control-indicator {
    margin-left: 0.5em;
  }
}
