<div class="container">
  <div class="card hovercard">
      <div class="card-background">
          <img class="card-bkimg" alt="" src="{{user?.image}} || {{image}}">
      </div>
      <div class="useravatar">
          <img alt="" src="{{user?.image}} || {{image}}">
      </div>
      <div class="card-info"> <span class="card-title">{{user?.name}}</span>
      </div>
  </div>
  <ngb-tabset justify="justified">
    <ngb-tab title="Favorites">
      <ng-template ngbTabContent>
        <app-restaurant-item *ngFor="let restaurantItem of restaurants" [restaurant]="restaurantItem"></app-restaurant-item>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="History">
      <ng-template ngbTabContent>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Options">
      <ng-template ngbTabContent>
        <app-user-options [user]="user"></app-user-options>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>       
  
