<div class="container">
  <div class="card hovercard">
      <div class="card-background">
          <img class="card-bkimg" alt="" src="{{user?.image}} || {{image}}">
      </div>
      <div class="useravatar">
          <img alt="" src="{{user?.image}} || {{image}}">
      </div>
      <div class="card-info"> <span class="card-title">{{user?.name}}</span>
      </div>
  </div>
  <ngb-tabset justify="justified">
    <ngb-tab title="Favorites">
      <ng-template ngbTabContent>
        <app-restaurant-item *ngFor="let restaurantItem of restaurants" [restaurant]="restaurantItem"></app-restaurant-item>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="My Bookings">
      <ng-template ngbTabContent>
          <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Number of people</th>
                  <th>Restaurant name</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let userBooking of user.bookings; let index = index">
                  <th scope="row">{{index+1}}</th>
                  <td>{{userBooking.date}}</td>
                  <td>{{userBooking.time}}</td>
                  <td>{{userBooking.people}}</td>
                  <td>{{userBooking.resName}}</td>
                </tr>
              </tbody>
            </table>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Options">
      <ng-template ngbTabContent>
        <app-user-options [user]="user"></app-user-options>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>       
  
