<ngb-carousel class="hidden-xs-down">
  <ng-template ngbSlide>
    <img src="assets/img/1.jpg" alt="Dish" class="img-fluid">
    <div class="carousel-caption">
      <h3 class="hidden-sm-down">Scafeinder</h3>
      <p><span class="hidden-md-up">Scafeinder is </span>an online restaurant-reservation service for Lviv.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/img/2.jpg" alt="Dish" class="img-fluid">
    <div class="carousel-caption">
      <h3 class="hidden-sm-down">Services</h3>
      <p>We are there for you to find, explore, reserve, and manage restaurant reservations for free, at any time, and from anywhere.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/img/3.jpg" alt="Dish" class="img-fluid">
    <div class="carousel-caption">
      <h3 class="hidden-sm-down">Filters</h3>
      <p>We provided a wide range of filters, that helps you to find the best place with no effort.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/img/4.jpg" alt="Dish" class="img-fluid">
    <div class="carousel-caption">
      <h3 class="hidden-sm-down">Moto</h3>
      <p>There is always the right place at the right time.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/img/5.jpg" alt="Dish" class="img-fluid">
    <div class="carousel-caption">
      <h3 class="hidden-sm-down">Cuisines</h3>
      <p>Find a restaurant that serves the cuisine(s) of your choice.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/img/6.jpg" alt="Dish" class="img-fluid">
    <div class="carousel-caption">
      <h3 class="hidden-sm-down">Category</h3>
      <p>What mood are you in today? Are you up for a coffee or for a beer? Just pick the category you are interested in.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/img/7.jpeg" alt="Dish" class="img-fluid">
    <div class="carousel-caption">
      <h3 class="hidden-sm-down">Features</h3>
      <p>Are you looking for something specific? Explore the additional services the restaurants provide.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/img/8.jpg" alt="Dish" class="img-fluid">
    <div class="carousel-caption">
      <h3 class="hidden-sm-down">Party Size</h3>
      <p>Large party? Double date? Party for one? You can specify your party size as well as type of table you need.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/img/9.jpg" alt="Dish" class="img-fluid">
    <div class="carousel-caption">
      <h3 class="hidden-sm-down">Date &amp; Time</h3>
      <p>Make your reservations up to 6 months in advance.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/img/10.jpg" alt="Dish" class="img-fluid">
    <div class="carousel-caption">
      <h3 class="hidden-sm-down">Restaurant</h3>
      <p>Are you interested in some specific restaurant? You are able to search for a restaurant by its name.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/img/11.jpg" alt="Dish" class="img-fluid">
    <div class="carousel-caption">
      <h3 class="hidden-sm-down">Reservation</h3>
      <p>To make reservation you have to be logged in. It's just so easy! Explore free places and plant your flag!</p>
    </div>
  </ng-template>
</ngb-carousel>
