.search-form {
  .no-gutter {
    padding-left: 0;
    padding-right: 0;
  }
  .time-size {
    @media screen and (min-width: "992px") and (max-width: "1200px") {
      padding-left: 6px;
      padding-right: 6px;
    }
  }
  margin: 30px auto;
  & button {
      background-color: #000;
      color: #fff;
      font-weight: bolder;
      &:hover {
          background-color: #fff;
          color: #000;            
      }
  }
}
