.search-form {
    margin: 30px auto;
    section {
        width: 100%;
    }
    & button {
        background-color: #000;
        color: #fff;
        font-weight: bolder;
        &:hover {
            background-color: #fff;
            color: #000;            
        }
    }
}
