<main>  
  <form class="form-inline justify-content-center search-form" #searchForm="ngForm" (ngSubmit)="findTables()">
    <div class="input-group col-12 col-sm-6 col-md-6 col-lg-2 no-gutter">
      <ng2-fa class="input-group-addon addons" name="user"></ng2-fa>
      <select class="form-control" name="persons" [(ngModel)]="userQuery.persons">
        <option class="dropdown-item" value="1">1 person</option>
        <option class="dropdown-item" *ngFor="let person of company" value={{person}}>{{person}} people</option>
      </select>
    </div>
    <div class="input-group col-12 col-sm-6 col-md-6 col-lg-2 no-gutter">
      <ng2-fa class="input-group-addon addons" name="cutlery"></ng2-fa>
      <select class="form-control table-size" name="tableType" [(ngModel)]="userQuery.tableType">
        <option class="dropdown-item" value="2">2-person table</option>
        <option class="dropdown-item" value="4">4-person table</option>
      </select>
    </div>
    <app-datepicker class="col-12 col-sm-6 col-md-6 col-lg-2 no-gutter" (selectedDate)="checkSelectedDate($event)"></app-datepicker>
    <div class="input-group col-12 col-sm-6 col-md-6 col-lg-2 no-gutter">
      <ng2-fa class="input-group-addon addons" name="clock-o"></ng2-fa>
      <select class="form-control" name="time" [(ngModel)]="userQuery.time">
        <option class="dropdown-item" *ngFor="let time of dayHours; let i = index" [value]="i % 2 === 0 ? time+':00' : time+':30'">{{i % 2 === 0 ? time+':00' : time+':30'}}</option>
      </select>
    </div>
    <div class="input-group col-12 col-sm-12 col-md-12 col-lg-3 no-gutter">
      <ng2-fa class="input-group-addon addons" name="search"></ng2-fa>
      <input class="form-control" name="placeName" placeholder="Restaurant" list="restaurantList" type="text" [(ngModel)]="userQuery.placeName">
      <datalist id="restaurantList">
        <option *ngFor="let restaurant of restaurants | unique">{{ restaurant }}</option>
      </datalist>      
    </div>
    <button class="form-control col-12 col-sm-12 col-md-12 col-lg-1" type="submit">Find</button>
  </form>
</main>
