<main>
  <div class="container">
    <form class="form" #searchForm="ngForm">
      <section class="search-main">
        <input class="form-control search-input" min="1" name="tables" placeholder="Number of diners" type="number" [(ngModel)]="userQuery.tables">
        <input class="form-control search-input" name="time" type="time" [(ngModel)]="userQuery.time">
        <input class="form-control search-input" name="placeName" placeholder="Location" type="text" [(ngModel)]="userQuery.placeName">
        <button type="button">Find a table</button>
      </section>
  
      <section class="form-check search-checkboxs">
        <label *ngFor="let place of placeTypes">
            <input
              class="checkbox-round"
              name="placeType"
              type="checkbox"              
              value="{{place.name}}"
              [(ngModel)]="place.checked"
            /> {{place.name}}
        </label>
      </section>
      <pre><b>User input:</b>
        {{diagnostic}}      
      </pre>
    </form>    
  </div>
</main>
